.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background: linear-gradient(
    101deg,
    rgba(116, 75, 124, 0.9856114320728291) 0%,
    rgba(92, 58, 79, 1) 46%,
    rgba(117, 71, 136, 1) 100%
  );
  padding: 3%;
  border-radius: 25px;
  font-family: "Manrope", sans-serif;
}

.Tarea {
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
  gap: 2rem;

  padding: 3%;
  margin: 3%;
  border-radius: 10px;
}

.Tarea:hover {
  transform: rotate(1.5deg);
}

.boton-estado {
  color: aliceblue;
  background-color: rgba(92, 58, 79, 1);
  width: 100px;
  margin: 5%;
  padding: 5%;
  border-radius: 50px;
  border: none;
}

.boton-estado:hover {
  background-color: rgba(92, 58, 79, 0.767);
  transform: scale(1.06);
  cursor: pointer;
}

img {
  border-radius: 130px;
}

.logo:hover {
  transform: scale(1.2);
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: whitesmoke;
}

p {
  color: lightslategray;
}

h3:hover {
  transform: scale(1.1);
}
